version: '3.9'

services:
  backend:
    build: ./todo-app/todo-backend
    ports:
      - "3000:3000"
    environment:
      - MONGO_URL=mongodb://mongo:27017/todos
      - PORT=3000
    depends_on:
      - mongo

  frontend:
    build: ./todo-app/todo-frontend
    environment:
      - VITE_BACKEND_URL=/api
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend

  mongo:
    image: mongo
    restart: always
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
